UltraBac1.0/Libraries/ZNode.Libraries.Integrator/Web References/net.paymentech.wsvar/PaymentechGateway.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WSDL:definitions xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="https://ws.paymentech.net/PaymentechGateway/wsdl/PaymentechGateway.wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns="urn:ws.paymentech.net/PaymentechGateway" xmlns="http://schemas.xmlsoap.org/wsdl/" name="PaymentechGateway" targetNamespace="https://ws.paymentech.net/PaymentechGateway/wsdl/PaymentechGateway.wsdl" xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/">
  <WSDL:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:ws.paymentech.net/PaymentechGateway">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="PC3LineItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3DtlIndex" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3DtlDesc" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3DtlProdCd" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3DtlQty" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3DtlUOM" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3DtlTaxAmt" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3DtlTaxRate" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3Dtllinetot" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3DtlDisc" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3DtlCommCd" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3DtlUnitCost" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3DtlGrossNet" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3DtlTaxType" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3DtlDiscInd" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3DtlDebitInd" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PC3LineItemArray">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="ns:PC3LineItem" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="NewOrderRequestElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="industryType" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="transType" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="bin" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="merchantID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="terminalID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="cardBrand" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ccAccountNum" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ccExp" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ccCardVerifyPresenceInd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ccCardVerifyNum" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="switchSoloIssueNum" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="switchSoloCardStartDate" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ecpCheckRT" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ecpCheckDDA" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ecpBankAcctType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ecpAuthMethod" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ecpDelvMethod" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="avsZip" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="avsAddress1" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="avsAddress2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="avsCity" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="avsState" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="avsName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="avsCountryCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="avsPhone" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="useCustomerRefNum" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="addProfileFromOrder" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerRefNum" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="profileOrderOverideInd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="authenticationECIInd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="verifyByVisaCAVV" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="verifyByVisaXID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="priorAuthCd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="orderID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="comments" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shippingRef" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxInd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxAmount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amexTranAdvAddn1" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amexTranAdvAddn2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amexTranAdvAddn3" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amexTranAdvAddn4" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="mcSecureCodeAAV" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="softDescMercName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="softDescProdDesc" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="softDescMercCity" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="softDescMercPhone" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="softDescMercURL" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="softDescMercEmail" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="recurringInd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="retryTrace" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCardOrderID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCardDestZip" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCardDestName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCardDestAddress" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCardDestAddress2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCardDestCity" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCardDestStateCd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3FreightAmt" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3DutyAmt" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3DestCountryCd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3ShipFromZip" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3DiscAmt" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3VATtaxAmt" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3VATtaxRate" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3AltTaxInd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3AltTaxAmt" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3LineItemCount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3LineItems" nillable="true" type="ns:PC3LineItemArray" />
          <xsd:element minOccurs="0" maxOccurs="1" name="magStripeTrack1" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="magStripeTrack2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="retailTransInfo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerEmail" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerPhone" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="cardPresentInd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="euddBankSortCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="euddCountryCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="euddRibCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="bmlCustomerIP" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="bmlCustomerEmail" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="bmlShippingCost" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="bmlTNCVersion" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="bmlCustomerRegistrationDate" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="bmlCustomerTypeFlag" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="bmlItemCategory" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="bmlPreapprovalInvitationNum" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="bmlMerchantPromotionalCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="bmlCustomerBirthDate" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="bmlCustomerSSN" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="bmlCustomerAnnualIncome" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="bmlCustomerResidenceStatus" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="bmlCustomerCheckingAccount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="bmlCustomerSavingsAccount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="bmlProductDeliveryType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="avsDestName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="avsDestAddress1" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="avsDestAddress2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="avsDestCity" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="avsDestState" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="avsDestZip" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="avsDestCountryCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="avsDestPhoneNum" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="debitBillerReferenceNumber" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="NewOrderResponseElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="industryType" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="transType" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="bin" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="merchantID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="terminalID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="cardBrand" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="orderID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="txRefNum" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="txRefIdx" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="respDateTime" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="procStatus" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="approvalStatus" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="respCode" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="avsRespCode" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="cvvRespCode" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="authorizationCode" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="mcRecurringAdvCode" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="visaVbVRespCode" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="procStatusMessage" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="respCodeMessage" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="hostRespCode" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="hostAVSRespCode" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="hostCVVRespCode" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="retryTrace" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="retryAttempCount" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="lastRetryDate" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="customerRefNum" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="customerName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="profileProcStatus" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="profileProcStatusMsg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="giftCardInd" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="remainingBalance" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="requestAmount" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="redeemedAmount" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ccAccountNum" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="debitBillerReferenceNumber" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MarkForCaptureElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="orderID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="amount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxInd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxAmount" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="bin" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="merchantID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="terminalID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="txRefNum" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="retryTrace" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCardOrderID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCardDestZip" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCardDestName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCardDestAddress" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCardDestAddress2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCardDestCity" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCardDestStateCd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amexTranAdvAddn1" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amexTranAdvAddn2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amexTranAdvAddn3" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amexTranAdvAddn4" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3FreightAmt" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3DutyAmt" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3DestCountryCd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3ShipFromZip" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3DiscAmt" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3VATtaxAmt" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3VATtaxRate" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3AltTaxInd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3AltTaxAmt" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3LineItemCount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pCard3LineItems" nillable="true" type="ns:PC3LineItemArray" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MarkForCaptureResponseElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="bin" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="merchantID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="terminalID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="orderID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="txRefNum" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="txRefIdx" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="splitTxRefIdx" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="amount" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="respDateTime" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="procStatus" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="procStatusMessage" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="retryTrace" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="retryAttempCount" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="lastRetryDate" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReversalElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="txRefNum" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="txRefIdx" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="adjustedAmount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="orderID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="bin" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="merchantID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="terminalID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="retryTrace" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReversalResponseElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="outstandingAmt" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="bin" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="merchantID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="terminalID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="orderID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="txRefNum" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="txRefIdx" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="respDateTime" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="procStatus" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="procStatusMessage" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="retryTrace" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="retryAttempCount" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="lastRetryDate" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EndOfDayElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="bin" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="merchantID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="terminalID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="settleRejectedHoldingBin" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EndOfDayResponseElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="bin" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="merchantID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="terminalID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="procStatus" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="batchSeqNum" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="procStatusMessage" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProfileResponseElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="bin" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="merchantID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="customerName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="customerRefNum" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="profileAction" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="procStatus" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="procStatusMessage" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="customerAddress1" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="customerAddress2" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="customerCity" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="customerState" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="customerZIP" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="customerEmail" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="customerPhone" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="profileOrderOverideInd" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="orderDefaultDescription" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="orderDefaultAmount" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="customerAccountType" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ccAccountNum" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ccExp" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ecpCheckDDA" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ecpBankAcctType" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ecpCheckRT" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ecpDelvMethod" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="switchSoloCardStartDate" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="switchSoloIssueNum" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProfileResponse">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="return" type="ns:ProfileResponseElement" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProfileAddElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="bin" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="merchantID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerRefNum" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerAddress1" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerAddress2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerCity" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerState" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerZIP" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerEmail" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerPhone" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="customerProfileOrderOverideInd" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="customerProfileFromOrderInd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="orderDefaultDescription" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="orderDefaultAmount" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="customerAccountType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ccAccountNum" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ccExp" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ecpCheckDDA" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ecpBankAcctType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ecpCheckRT" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ecpDelvMethod" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="switchSoloCardStartDate" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="switchSoloIssueNum" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProfileChangeElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="bin" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="merchantID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="customerRefNum" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerAddress1" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerAddress2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerCity" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerState" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerZIP" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerEmail" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerPhone" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerProfileOrderOverideInd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="orderDefaultDescription" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="orderDefaultAmount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="customerAccountType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ccAccountNum" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ccExp" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ecpCheckDDA" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ecpBankAcctType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ecpCheckRT" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ecpDelvMethod" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="switchSoloCardStartDate" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="switchSoloIssueNum" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProfileDeleteElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="bin" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="merchantID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="customerName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="customerRefNum" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProfileFetchElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="bin" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="merchantID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="customerName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="customerRefNum" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FlexCacheElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="bin" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="merchantID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="terminalID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ccAccountNum" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="orderID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ccCardVerifyNum" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="comments" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="shippingRef" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="industryType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="flexAutoAuthInd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="flexPartialRedemptionInd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="flexAction" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="startAccountNum" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="activationCount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="txRefNum" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="retryTrace" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="employeeNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="magStripeTrack1" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="magStripeTrack2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="retailTransInfo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="priorAuthCd" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FlexCacheResponseElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="merchantID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="terminalID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="orderID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ccAccountNum" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="startAccountNum" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="flexAcctBalance" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="flexAcctPriorBalance" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="flexAcctExpireDate" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="cardType" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="txRefIdx" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="txRefNum" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="procStatus" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="procStatusMessage" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="approvalStatus" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="authorizationCode" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="respCode" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="batchFailedAcctNum" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="flexRequestedAmount" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="flexRedeemedAmt" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="flexHostTrace" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="flexAction" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="respDateTime" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="autoAuthTxRefIdx" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="autoAuthTxRefNum" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="autoAuthProcStatus" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="autoAuthStatusMsg" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="autoAuthApprovalStatus" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="autoAuthFlexRedeemedAmt" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="autoAuthResponseCodes" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="autoAuthFlexHostTrace" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="autoAuthFlexAction" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="autoAuthRespTime" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="retryTrace" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="retryAttempCount" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="lastRetryDate" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="cvvRespCode" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="superBlockID" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="UnmarkElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="merchantID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="terminalID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="bin" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="txRefNum" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="txRefIdx" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="orderID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="retryTrace" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="retryAttempCount" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="UnmarkResponseElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="merchantID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="terminalID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="bin" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="orderID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="txRefNum" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="txRefIdx" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="procStatus" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="procStatusMessage" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="retryTrace" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="retryAttempCount" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="lastRetryDate" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="NewOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="newOrderRequest" type="ns:NewOrderRequestElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="return" type="ns:NewOrderResponseElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MarkForCapture">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="markForCaptureRequest" type="ns:MarkForCaptureElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MarkForCaptureResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="return" type="ns:MarkForCaptureResponseElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Reversal">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="reversalRequest" type="ns:ReversalElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReversalResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="return" type="ns:ReversalResponseElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EndOfDay">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="endOfDayRequest" type="ns:EndOfDayElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EndOfDayResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="return" type="ns:EndOfDayResponseElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ProfileAdd">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="profileAddRequest" type="ns:ProfileAddElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ProfileAddResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="return" type="ns:ProfileResponseElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ProfileChange">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="profileChangeRequest" type="ns:ProfileChangeElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ProfileChangeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="return" type="ns:ProfileResponseElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ProfileDelete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="profileDeleteRequest" type="ns:ProfileDeleteElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ProfileDeleteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="return" type="ns:ProfileResponseElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ProfileFetch">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="profileFetchRequest" type="ns:ProfileFetchElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ProfileFetchResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="return" type="ns:ProfileResponseElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FlexCache">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="flexCacheRequest" type="ns:FlexCacheElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FlexCacheResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="return" type="ns:FlexCacheResponseElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Unmark">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="unmarkRequest" type="ns:UnmarkElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UnmarkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="return" type="ns:UnmarkResponseElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </WSDL:types>
  <WSDL:message name="NewOrderRequest">
    <WSDL:part name="parameters" element="ns:NewOrder" />
  </WSDL:message>
  <WSDL:message name="NewOrderResponse">
    <WSDL:part name="parameters" element="ns:NewOrderResponse" />
  </WSDL:message>
  <WSDL:message name="MarkForCaptureRequest">
    <WSDL:part name="parameters" element="ns:MarkForCapture" />
  </WSDL:message>
  <WSDL:message name="MarkForCaptureResponse">
    <WSDL:part name="parameters" element="ns:MarkForCaptureResponse" />
  </WSDL:message>
  <WSDL:message name="ReversalRequest">
    <WSDL:part name="parameters" element="ns:Reversal" />
  </WSDL:message>
  <WSDL:message name="ReversalResponse">
    <WSDL:part name="parameters" element="ns:ReversalResponse" />
  </WSDL:message>
  <WSDL:message name="EndOfDayRequest">
    <WSDL:part name="parameters" element="ns:EndOfDay" />
  </WSDL:message>
  <WSDL:message name="EndOfDayResponse">
    <WSDL:part name="parameters" element="ns:EndOfDayResponse" />
  </WSDL:message>
  <WSDL:message name="ProfileAddRequest">
    <WSDL:part name="parameters" element="ns:ProfileAdd" />
  </WSDL:message>
  <WSDL:message name="ProfileAddResponse">
    <WSDL:part name="parameters" element="ns:ProfileAddResponse" />
  </WSDL:message>
  <WSDL:message name="ProfileChangeRequest">
    <WSDL:part name="parameters" element="ns:ProfileChange" />
  </WSDL:message>
  <WSDL:message name="ProfileChangeResponse">
    <WSDL:part name="parameters" element="ns:ProfileChangeResponse" />
  </WSDL:message>
  <WSDL:message name="ProfileDeleteRequest">
    <WSDL:part name="parameters" element="ns:ProfileDelete" />
  </WSDL:message>
  <WSDL:message name="ProfileDeleteResponse">
    <WSDL:part name="parameters" element="ns:ProfileDeleteResponse" />
  </WSDL:message>
  <WSDL:message name="ProfileFetchRequest">
    <WSDL:part name="parameters" element="ns:ProfileFetch" />
  </WSDL:message>
  <WSDL:message name="ProfileFetchResponse">
    <WSDL:part name="parameters" element="ns:ProfileFetchResponse" />
  </WSDL:message>
  <WSDL:message name="FlexCacheRequest">
    <WSDL:part name="parameters" element="ns:FlexCache" />
  </WSDL:message>
  <WSDL:message name="FlexCacheResponse">
    <WSDL:part name="parameters" element="ns:FlexCacheResponse" />
  </WSDL:message>
  <WSDL:message name="UnmarkRequest">
    <WSDL:part name="parameters" element="ns:Unmark" />
  </WSDL:message>
  <WSDL:message name="UnmarkResponse">
    <WSDL:part name="parameters" element="ns:UnmarkResponse" />
  </WSDL:message>
  <WSDL:portType name="PaymentechGatewayPortType">
    <WSDL:operation name="NewOrder">
      <documentation>Service definition of function ns__NewOrder</documentation>
      <WSDL:input message="tns:NewOrderRequest" />
      <WSDL:output message="tns:NewOrderResponse" />
    </WSDL:operation>
    <WSDL:operation name="MarkForCapture">
      <documentation>Service definition of function ns__MarkForCapture</documentation>
      <WSDL:input message="tns:MarkForCaptureRequest" />
      <WSDL:output message="tns:MarkForCaptureResponse" />
    </WSDL:operation>
    <WSDL:operation name="Reversal">
      <documentation>Service definition of function ns__Reversal</documentation>
      <WSDL:input message="tns:ReversalRequest" />
      <WSDL:output message="tns:ReversalResponse" />
    </WSDL:operation>
    <WSDL:operation name="EndOfDay">
      <documentation>Service definition of function ns__EndOfDay</documentation>
      <WSDL:input message="tns:EndOfDayRequest" />
      <WSDL:output message="tns:EndOfDayResponse" />
    </WSDL:operation>
    <WSDL:operation name="ProfileAdd">
      <documentation>Service definition of function ns__ProfileAdd</documentation>
      <WSDL:input message="tns:ProfileAddRequest" />
      <WSDL:output message="tns:ProfileAddResponse" />
    </WSDL:operation>
    <WSDL:operation name="ProfileChange">
      <documentation>Service definition of function ns__ProfileChange</documentation>
      <WSDL:input message="tns:ProfileChangeRequest" />
      <WSDL:output message="tns:ProfileChangeResponse" />
    </WSDL:operation>
    <WSDL:operation name="ProfileDelete">
      <documentation>Service definition of function ns__ProfileDelete</documentation>
      <WSDL:input message="tns:ProfileDeleteRequest" />
      <WSDL:output message="tns:ProfileDeleteResponse" />
    </WSDL:operation>
    <WSDL:operation name="ProfileFetch">
      <documentation>Service definition of function ns__ProfileFetch</documentation>
      <WSDL:input message="tns:ProfileFetchRequest" />
      <WSDL:output message="tns:ProfileFetchResponse" />
    </WSDL:operation>
    <WSDL:operation name="FlexCache">
      <documentation>Service definition of function ns__FlexCache</documentation>
      <WSDL:input message="tns:FlexCacheRequest" />
      <WSDL:output message="tns:FlexCacheResponse" />
    </WSDL:operation>
    <WSDL:operation name="Unmark">
      <documentation>Service definition of function ns__Unmark</documentation>
      <WSDL:input message="tns:UnmarkRequest" />
      <WSDL:output message="tns:UnmarkResponse" />
    </WSDL:operation>
  </WSDL:portType>
  <WSDL:binding name="PaymentechGateway" type="tns:PaymentechGatewayPortType">
    <SOAP:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WSDL:operation name="NewOrder">
      <SOAP:operation soapAction="" style="document" />
      <WSDL:input>
        <SOAP:body use="literal" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="literal" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="MarkForCapture">
      <SOAP:operation soapAction="" style="document" />
      <WSDL:input>
        <SOAP:body use="literal" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="literal" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="Reversal">
      <SOAP:operation soapAction="" style="document" />
      <WSDL:input>
        <SOAP:body use="literal" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="literal" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="EndOfDay">
      <SOAP:operation soapAction="" style="document" />
      <WSDL:input>
        <SOAP:body use="literal" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="literal" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="ProfileAdd">
      <SOAP:operation soapAction="" style="document" />
      <WSDL:input>
        <SOAP:body use="literal" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="literal" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="ProfileChange">
      <SOAP:operation soapAction="" style="document" />
      <WSDL:input>
        <SOAP:body use="literal" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="literal" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="ProfileDelete">
      <SOAP:operation soapAction="" style="document" />
      <WSDL:input>
        <SOAP:body use="literal" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="literal" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="ProfileFetch">
      <SOAP:operation soapAction="" style="document" />
      <WSDL:input>
        <SOAP:body use="literal" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="literal" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="FlexCache">
      <SOAP:operation soapAction="" style="document" />
      <WSDL:input>
        <SOAP:body use="literal" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="literal" />
      </WSDL:output>
    </WSDL:operation>
    <WSDL:operation name="Unmark">
      <SOAP:operation soapAction="" style="document" />
      <WSDL:input>
        <SOAP:body use="literal" />
      </WSDL:input>
      <WSDL:output>
        <SOAP:body use="literal" />
      </WSDL:output>
    </WSDL:operation>
  </WSDL:binding>
  <WSDL:service name="PaymentechGateway">
    <documentation>http://www.paymentech.net/download/pdf/Orbital_Gateway_Web_Services_Specification_v1.4.pdf</documentation>
    <WSDL:port name="PaymentechGateway" binding="tns:PaymentechGateway">
      <SOAP:address location="https://wsvar.paymentech.net/PaymentechGateway" />
    </WSDL:port>
  </WSDL:service>
</WSDL:definitions>